<app-app-nav></app-app-nav>
<div class="container-fluid login-page">
    <form class="login-form" [formGroup]='loginForm' (ngSubmit)='onLoginSubmit()'>
        <div class="form">
            <img src="../../assets/logo.png"> 

            <input type="text" name="email" formControlName="email" [placeholder='email']>
            <input type="text" name="password" formControlName="password" [placeholder='password']>

            <div class="alert alert-danger" *ngIf='errorMessage'>
                {{errorMessage}}
            </div>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
            <a [routerLink]='["/create"]'>Create account</a>
        </div>

    </form>

</div>